# The Git URI for the Spring Cloud Config Server's configuration repository
SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///etc/config-repo

# The active Spring profile for the inventory-service (e.g., dev, prod)
SPRING_PROFILES_ACTIVE=dev

# The URI of the Config Server that the inventory-service connects to
SPRING_CLOUD_CONFIG_URI=http://config-server:8888
